[submodule "Assets/_Wichtel"]
	path = Assets/_Wichtel
	url = https://github.com/MeisterDerMagie/_Wichtel.git
[submodule "Assets/OdinWatchWindow"]
	path = Assets/OdinWatchWindow
	url = https://gist.github.com/MeisterDerMagie/fa5c6beffc081e2a8e6fecebee136938